label {
    margin: 10px;
    text-align: right;
}

input {
    margin: 3px;
    border-radius: 10px;
    border: #0ff 2px solid;
}

select {
    margin: 3px;
    border-radius: 10px;
    border: #0ff 2px solid;
}

textarea {
    margin: 3px;
    border-radius: 10px;
    border: #0ff 2px solid;  
}