.SometingAboutMe {
	text-align: center;
}

h2 {
	color: #02f;
}

h3 {
	color: #02f;
}

h4 p {
	color: #07f;
}

.certificates1:hover {
	text-transform: uppercase;
}

.certificates1 {
		text-decoration: underline;
		color: #05f;
}